@media (min-width: 1024px) and (min-height: 780px) {
   
    .User{
        position: relative;
        left: 10%;
        bottom: 700px;
    }

    .User span {
        color: red ;
    }
    .User p{
        font-size: x-large;
    }
}
