// @media (max-width: 1024px) and (max-height: 780px) {
   


    .User{
        position: absolute;
        left: 10%;
        top: 163px;
        width: 90%;
    }
    .UserH1{
        font-size: 55px;
    }

    .User span {
        color: red ;
    }
    .User p{
        font-size: x-large;
    }
    .UserGraphics{
        margin-top: 1%;
        max-height: 834px;
    }
    .UserAveragePerformanceScores{
        margin-top: 2%;
        width: 70%;
        display: flex;
        justify-content: space-between;
    }

//  }
